{% extends 'basic.html' %}

{% block title %}Top Universities Prediction{% endblock %}

{% block content %}
    <h1 class="mb-4">Top Universities Predictions</h1>
    <p>Results based on input data:</p>
    
    <!-- Display the input data -->
    <p>GRE Score: {{ gre_score }}</p>
    <p>GPA: {{ gpa }}</p>
    <p>Language Exam: {{ language_exam }}</p>
    <p>IELTS Score: {{ toefl_ielts_score }}</p>
    <p>Research Papers: {{ research_papers }}</p>

    <!-- Display the top 10 university predictions -->
    <h2 class="mt-4">Top 10 University Predictions:</h2>
    <ul>
        {% for university in top_10_universities %}
            <li>{{ university }}</li>
        {% endfor %}
    </ul>

    <!-- Example link to navigate back to the form page -->
    <a href="/" class="btn btn-primary">Go back to the form</a>
{% endblock %}

{% block js %}
    <!-- Add any additional JavaScript specific to the toprank.html template if needed -->
{% endblock %}
